<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./css/login.css">
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <form action="/login" method="POST">
            <label for="email">Email</label>
            <input type="text" name="email" value="<%=(locals.old_data) ? old_data.email : '' %>" required>

            <label for="password">Password</label>
            <input type="password" name="pass" required>

            <button type="submit">Login</button>
        </form>
        
        <div class="register">
            <p>Don't have an account yet? <a href="/signup">Register</a></p>
        </div>
    </div>
</body>
</html>
