<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/singup.css">
</head>
<body>
    <div class="register-container">
        <h2>Register</h2>
        <form action="/signup" method="POST" novalidate>
            <label for="username">Username</label>
            <input type="text" name="user"value = "<%=(locals.old_data) ? old_data.username :'' %>" required>

            <label for="email">Email</label>
            <input type="email" name="email" value = "<%=(locals.old_data) ? old_data.email :'' %>" required>

            <label for="password">Password</label>
            <input type="password" name="pass" name="password"  required>

            

           
                
            <button type="submit">Register</button>
        </form>
        <p>Already have an account? <a href="/login.js">Login here</a></p>

    </div>

    <!--script-->
    
</body>
</html>

